<div class="margin-div">

  <h1>Employees</h1>
  <p>Here's a list of jobs:</p>


  <p *ngIf="!employees"><em>Loading...</em></p>

  <table mat-table [dataSource]="employees"
         class="mat-elevation-z8"
         [hidden]="!employees"
         matSort (matSortChange)="loadData()"
         [matSortActive]="defaultSortColumn"
         [matSortDirection]="defaultSortOrder">

    <!-- EmployeeId Column -->
    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EmployeeId</th>
      <td mat-cell *matCellDef="let employee">{{employee.employeeId}}</td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
      <td mat-cell *matCellDef="let employee">{{employee.lastName}}</td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
      <td mat-cell *matCellDef="let employee">{{employee.firstName}}</td>
    </ng-container>

    <!-- Initials Column -->
    <ng-container matColumnDef="initials">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Initials</th>
      <td mat-cell *matCellDef="let employee">{{employee.initials}}</td>
    </ng-container>

    <!-- HireDate Column -->
    <ng-container matColumnDef="hireDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HireDate</th>
      <td mat-cell *matCellDef="let employee">{{employee.hireDate}}</td>
    </ng-container>

    <!-- JobId Column -->
    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>JobId</th>
      <td mat-cell *matCellDef="let employee">{{employee.jobId}}</td>
    </ng-container>

    <!-- YearsOfService Column -->
    <ng-container matColumnDef="yearsOfService">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>YearsOfService</th>
      <td mat-cell *matCellDef="let employee">{{employee.yearsOfService}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination directive -->
  <mat-paginator [hidden]="!employees"
                 (page)="getData($event)"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons></mat-paginator>

</div>
