<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>
    
    <a mat-flat-button color="primary" [routerLink]="['/jobs']">
      Jobs
    </a>

    <a mat-flat-button color="primary" [routerLink]="['/employees']">
      Employees
    </a>

    <a mat-flat-button color="primary" [routerLink]="['/projects']">
      Projects
    </a>

    <a mat-flat-button color="primary" [routerLink]="['/assignments']">
      Assignments
    </a>

  </mat-toolbar>
</header>
